html {height: 100%;}

body {
  height: 100%;
  background-color: lightblue;
  overflow-x:hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
  
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.title {
  position: relative;
  text-align: center;
}

.year-2-dir {
  position: absolute;
	top: 20px;
  color: #97406A;
	right: 30px;
  width: 100px
}

.year-2-img {
  color: orange;
  position: absolute;
  right: 30px;
  height: 100%;
  width: 20%;
  filter: grayscale(100%) hue-rotate(315deg) saturate(3);
}

.pop-up {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1.5%;
  transition: transform .5s;
  transform: scale(1.01); 
}


.main-image {
  flex-basis: 40%;
  max-width:45%;
  max-height:45%;
  border-radius: 10px;
}

.main-image-text {
  padding-left: 20px;
  width: 75%;
  height: 20%;
  padding: 12px 20px;
  border: 0px;
  background-color: transparent;
  font-size: 150%;
  
}

.pop-up:hover {
  transform: scale(1.03);
}

.gallery { 
  display: grid;
  grid-template-columns: repeat(10, 9.5%);
  grid-template-rows: repeat(10, 11%);
  grid-gap: 1%;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-image {
  border-radius: 2%;
}

.gallery-image1 {
  opacity: 1;
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery-image2 {
  width: 100%;
  height: 100%;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3; 
}

.gallery-image3 {
  width: 100%;
  height: 100%;
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 4;
}


.gallery-image4 {
  width: 100%;
  height: 100%;
  offset-position : auto;
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 6;
} 

.gallery-image5 {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery-image6 {
  width: 100%;
  height: 100%;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 6;
}

.gallery-image7 {
  width: 100%;
  height: 100%;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallery-image8 {
  width: 100%;
  height: 100%;
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery-image9 {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallery-image10 {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 9;
}

.gallery-image11 {
  width: 100%;
  height: 100%;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5; 
}

.gallery-image12 {
  width: 100%;
  height: 100%;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 9;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-container {
  border-radius: 2%;
  max-width: 20%;
  padding: 10px;
  margin: auto;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


.source-code-container {
  position: absolute;
  width: 50%;
}

.source-code {
  position: relative;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(3em);
  }
  40% {
    transform: translate(-3em);
  }
  60% {
    transform: translate(3em);
  }
  80% {
    transform: translate(-3em);
  }
  100% {
    transform: translate(0);
  }
}

.form-input-animation {
  animation: shake 1s;
  color: red;
}

.image-opacity {
  opacity: 0.2;
}

.html-image {
  position: relative;
  height: 3%;
  width: 3%;
}
